.App {
  color: black;
  font-size: 12px;
  font-family: Arial;
}

.Header {
  background-color: #3f3f3f;
  text-align: center;
  color: white;
  font-size: 30px;
}

.Content {
  background: white;
  color: black;
}

.Footer {
  background-color: #3f3f3f;
  text-align: center;
  color: white;
}
